body {
  /* background-size: auto; */
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiuQRtfbHYhGyu9M7LTcCfIdWsC4OYIR0Nwg&usqp=CAU");
  background-repeat: repeat;
  padding: auto;
  background-size: fit;
}
img {
  height: 359px;
  width: 640px;
  box-shadow: 0px 10px 15px 0px rgb(224, 90, 18);
  border: 5px outset rgb(224, 90, 18);
  border-radius: 10px;
}
.card {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJkxvforA9ds2d6ISmcjznaYZkBljlIPxWaA&usqp=CAU");
  color: rgb(241, 241, 231);
  padding: 14px 20px;
  margin: 36px 10px 50px 50px;
  border: 5px outset #050503;
  border-radius: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 30px;
  word-spacing: 5px;
  text-align: center;
  box-shadow: 0px 10px 15px 0px rgb(224, 90, 18);
}
.name {
  color: rgb(241, 241, 231);
  font-size: 50px;
}

h1 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJkxvforA9ds2d6ISmcjznaYZkBljlIPxWaA&usqp=CAU");
  color: rgb(255, 255, 255);
  padding: 14px 20px;
  margin: 36px 10px 50px 50px;
  border: 5px outset #050503;
  border-radius: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 100px;
  word-spacing: 15px;
  text-align: center;
  box-shadow: 0px 10px 15px 0px rgb(224, 90, 18);
  text-shadow: 3px 3px 2px black, 0 0 50px rgb(224, 90, 18), 0 0 5px black;
}
.navbar {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJkxvforA9ds2d6ISmcjznaYZkBljlIPxWaA&usqp=CAU");
  border: 5px outset #0c0c0a;
  color: rgb(241, 241, 231);
  text-align: wrap;
  flex-wrap: wrap;
  padding: 7px 0px;
  margin: 36px 10px 50px 50px;
  word-break: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 40px;
  text-align: center;
  padding: 14px 20px;
  border: 5px outset #050503;
  border-radius: 10px;
  box-shadow: 0px 10px 15px 0px rgb(224, 90, 18);
}

.NewCharacterForm {
  background-color: rgba(224, 90, 18, 0.692);
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJkxvforA9ds2d6ISmcjznaYZkBljlIPxWaA&usqp=CAU");
  border: 5px outset #0c0c0a;
  color: rgb(241, 241, 231);
  text-align: wrap;
  flex-wrap: wrap;
  padding: 7px 0px;
  margin: 36px 10px 50px 50px;
  word-break: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
  text-align: center;
  padding: 14px 20px;
  border: 5px outset #050503;
  border-radius: 10px;
  box-shadow: 0px 10px 15px 0px rgb(12, 11, 11);
}
a {
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 2px black, 0 0 25px rgb(224, 90, 18), 0 0 5px black;
}
a:hover {
  color: rgb(224, 90, 18);
}
input[type="text"],
select {
  width: 50%;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  word-spacing: 5px;
  text-align: center;
}

.options {
  background-color: rgba(224, 90, 18, 0.692);
  border: 5px outset #0c0c0a;
  color: rgb(241, 241, 231);
  text-align: wrap;
  flex-wrap: wrap;
  padding: 7px 0px;
  margin: 36px 10px 50px 50px;
  word-break: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 30px;
  text-align: center;
  padding: 14px 20px;
  border: 5px outset #050503;
  border-radius: 10px;
  box-shadow: 0px 10px 15px 0px rgb(12, 11, 11);
}
button.submit {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  color: white;
  text-align: center;
  display: block;
  border-radius: 15px;
  padding: 10px;
  background-color: rgb(225, 90, 17);
  border: 10px, black, outset;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
  box-shadow: 0 10px 15px 0 rgb(0, 0, 0);
}

.wholeform {
  background-color: rgba(224, 90, 18, 0.692);
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJkxvforA9ds2d6ISmcjznaYZkBljlIPxWaA&usqp=CAU");
  border: 5px outset #0c0c0a;
  color: rgb(241, 241, 231);
  text-align: wrap;
  flex-wrap: wrap;
  padding: 7px 0px;
  margin: 36px 10px 50px 50px;
  word-break: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 30px;
  text-align: center;
  padding: 14px 20px;
  border: 5px outset #050503;
  border-radius: 10px;
  box-shadow: 0px 10px 15px 0px rgb(12, 11, 11);
}

.loginform {
  background-color: rgba(224, 90, 18, 0.692);
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJkxvforA9ds2d6ISmcjznaYZkBljlIPxWaA&usqp=CAU");
  border: 5px outset #0c0c0a;
  color: rgb(241, 241, 231);
  text-align: wrap;
  flex-wrap: wrap;
  padding: 7px 0px;
  margin: 36px 10px 50px 50px;
  word-break: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
  text-align: center;
  padding: 14px 20px;
  border: 5px outset #050503;
  border-radius: 10px;
  box-shadow: 0px 10px 15px 0px rgb(12, 11, 11);
}
.submit {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  color: white;
  text-align: center;
  display: block;
  font-size: 10px;
  border-radius: 15px;
  padding: 10px;
  background-color: rgb(225, 90, 17);
  border: 10px, black, outset;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 16px;
  box-shadow: 0 10px 15px 0 rgb(0, 0, 0);
}
.gif {
  height: 720px;
  width: 1280px;
  box-shadow: 0px 10px 15px 0px rgb(224, 90, 18);
  border: 5px outset rgb(224, 90, 18);
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
